.idea
.idea_modules/
.DS_Store
/node_modules
/app/coverage
/app/reports/*
/build
/public/dist
/dist
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
app/build/
app/node_modules/
app/src/index.css.map
/app/src/asserts/styles/index.css.map
app/.vscode/
.vscode/
