@import '../../App.scss';

button {
  font-family: ProximaNovaSemiBold;
  cursor: pointer;
  padding: 11px 21px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 6px;
  font-size: 14px;
  line-height: 17px;
  &:hover {
    background-color: #d7d7d7;
  }
  &:active {
    transform: scale(0.98);
  }
  &:focus {
    outline: none;
  }

  &.with-focus {
    &:focus {
      box-shadow: 0 0 0 2px $blue;
      outline: none;
    }
  }

  &.icon {
    display: flex;
    align-items: center;
    padding: 0;
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
}